.header-wrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 20vh;
	justify-content: center;
	background-color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.Header_Title {
	padding: 10px;
	display: flex;
	font-style: italic;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: rgb(228, 52, 87);
}

.Header_Navs {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* font-size: calc(10px + 2vmin); */
	font-weight: 600;
	background-color: white;
}

.navLink {
	color: rgb(228, 52, 87);
	text-decoration: none;
	margin: 15px 0;
}

@media only screen and (max-width: 600px) {
	.Header_Navs {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.major {
	font-size: 2em;
	font-weight: 400;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* margin-top: 10pc; */
	text-align: center;
}
.minor {
	font-size: 0.6em;
	font-weight: 400;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* margin-top: 10pc; */
	text-align: center;
}

/* Set the background colours on a dynmic part */
