.header-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 20vh;
	justify-content: center;
	background-color: rgb(240, 75, 108);
	padding: 5px;
}

.Header_Title {
	display: flex;
	font-style: italic;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: calc(10px + 2vmin);
}

.Header_Navs {
	/* margin-left: 50pc;
	margin-right: 5pc; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
}
