#searchForm input[type="text"] {
    max-width: 380px;
    padding: 15px 35px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.radioContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  button{
      margin-top: 30px;
    transition: all 0.5s ease;
	border: 1px solid rgb(228, 52, 87);
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	/* font-size: 17px; */
	outline: none;
	border-radius: 20px;
    background-color: rgb(228, 52, 87);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.3s;
  }
  button:hover{
    background-color: rgb(245, 240, 240);
	border: 1px solid rgb(228, 52, 87);
	border-radius: 20px;
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:rgb(228, 52, 87);
}


h2{
    margin-bottom: 40px;
}
#game{
    margin-bottom: 40px;

}
#tournamentName{
    margin-bottom: 40px;
}
#tags{
    margin-bottom: 40px;
}