/* Homepage specific */

.site-wrapper {
	max-width: 100vw;
	min-height: 120vh;
	background: rgb(255, 246, 247);
	color: rgb(0, 0, 0);
	font-size: 1em;
}

.main-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: white;
	min-height: 100vh;
}

.profile-page {
	padding: 5px;
}

.search-page {
	padding: 5px;
}
