
.App{
  background-color: rgb(179, 151, 26);
  /* padding: 10px; */
  /* display: flex;
  flex-direction: row; */
}

body{
  /* display: flexbox ;
  flex-direction: row;  */
  background: linear-gradient(-45deg, #f9f9f9, #fcfcfc, #f7f4f6, #f4f7f7);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 120vh;
  
  }

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title{
  display: block;
  margin-top: 10pc;
  margin-bottom: 5pc;
  width: 60%;
  height: 50pc;
  background: rgb(240, 75, 108);
  margin-left: 10pc;
  /* position: relative; */
  color: rgb(0, 0, 0);
  font-size: 1em;
  /* text-decoration: snow; */

}

/* .major{
  font-size: 3em;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10pc;
  text-align: center;
} */

.login{
  display: block;
  width: 90%;
  /* height: 50%; */
  /* background: rgb(245, 245, 40); */
  margin-left: 45pc;
  margin-right: 5pc;
  margin-bottom: 10pc;
  position: relative;
  padding-bottom: 0;
}
